body {
    margin: 10px;
}
.container {
    padding: 10px;
    margin: 10px auto;
    max-width: 480px;
    min-height: 960px;
    border: 1px dashed gray;
}
img {
    margin: 15px 0px;
    width: 100%;
}

.green {
    color: green;
}

.animate {
    outline: 1px solid black;
    width: 100px;
    height: 100px;
}